<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
    <div>
        <nav th:replace="navbar :: mynavbar"></nav>
    </div>
    <div id="viewport">
        <div id="content">
            <!-- sidebar -->
            <div th:replace="sidebar :: mysidebar"></div>
            <!--        content starts here!-->
            <div class="container-fluid">
                <div class="pt-3">
                    <h1>Update Pet Type</h1>
                    <div>
                        <form th:action="@{/savePetType}" th:object="${petType}" method="post">
                            <div class="form-group mt-3">
                                <label>Pet Type ID</label>
                                <input  type="number" th:field="*{id}" readonly>
                            </div>
                            <div class="form-group mt-3 col-6">
                                <label th:classappend="${#fields.hasErrors('petTypeName')} ? 'text-danger' : ''" for="petType">Pet type</label>
                                <input type="text" class="form-control" th:field="*{petTypeName}" id="petType" placeholder="Enter the pet type">
                                <p th:if="${#fields.hasErrors('petTypeName')}" th:errors="*{petTypeName}" class="text-danger"></p>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Update pet type</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="footer :: foot"></div>
</body>
</html>