<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<div>
    <nav th:replace="navbar :: mynavbar"></nav>
</div>
<div id="viewport">
    <div id="content">
        <!-- sidebar -->
        <div th:replace="sidebar :: mysidebar"></div>
        <!--        content starts here!-->
        <div class="container">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Pet Id</th>
                        <th>Pet Name</th>
                        <th>Owner First Name</th>
                        <th>Owner Last Name</th>
                        <th>Pet Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:object="${pet}">
                        <td th:text="${pet.getId()}"></td>
                        <td th:text="${pet.getPetName()}"></td>
                        <td th:text="${pet.getOwner().getFirstName()}"></td>
                        <td th:text="${pet.getOwner().getLastName()}"></td>
                        <td th:text="${pet.getPetType().getPetTypeName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <form th:action="@{/saveAppointment}" th:object="${appointment}"  method="post">
                    <div class="form-group mt-3">
                        <label >Appointment Date</label>
                        <input class="form-control" type="datetime-local" th:field="*{appointmentDate}"/>
                    </div>
                    <div class="form-group mt-3">
                        <label>Description</label>
                        <textarea class = "form-control"  th:field="*{description}"></textarea>
                    </div>
                    <div>
                        <input type="hidden" th:field="*{pet}"/>
                    </div>

                    <div class="form-group mt-4">
                        <ul>
                            <li th:each="err:${#fields.errors()}" th:text="${err}" class="text-danger"></li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Make Appointment</button>

                </form>
            </div>
        </div>


    </div>
</div>
<div th:insert="footer :: foot"></div>
</body>
</html>