<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<div>
    <nav th:replace="navbar :: mynavbar"></nav>
</div>
<div id="viewport">
    <div id="content">
        <!-- sidebar -->
        <div th:replace="sidebar :: mysidebar"></div>
        <!--        content starts here!-->
        <div class="pt-3 container-fluid">
    <h1>Owner table</h1>
    <form th:action="@{/searchOwner}" method="post" class="form-group">
        <input type="text" th:name ="query" placeholder="Search by id or telephone number..">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Tel</th>
                <th>Email</th>
                <!--<th>Pets</th>-->
                <th>Action</th>
            </tr>
            <tr th:each="owner: ${owner}">
                <td th:text="${owner.getId()}"></td>
                <td th:text="${owner.getFirstName()}"></td>
                <td th:text="${owner.getLastName()}"></td>
                <td th:text="${owner.getAddress()}"></td>
                <td th:text="${owner.getTel()}"></td>
                <td th:text="${owner.getEmail()}"></td>
                <!--<td th:text="${owner.g}"></td>-->
                <td><a th:href="@{/deleteOwner/{id}(id=${owner.getId()})}">delete</a> | <a th:href="@{/updateOwner/{id}(id=${owner.getId()})}">modify</a></td>
            </tr>
        </table>
    </div>
        </div>
    </div>
</div>
    <div th:insert="footer :: foot"></div>

</body>
</html>