<!DOCTYPE html>
<html lang="en">
<body>
  <div th:fragment="mysidebar" id="sidebar">

    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a th:href="@{/index}" class="nav-link">
          <i class="bi bi-speedometer2"></i>
          Dashboard
        </a>
      </li>
      <li class="sidebar-dropdown">
        <a class="btn-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse4" aria-expanded="true">
          <i class="bi bi-calendar-week"></i>
          Appointment
          <i class="bi bi-caret-down"></i>
        </a>
        <div class="collapse" id="home-collapse4">
          <ul class="btn-toggle-nav nav-link list-unstyled fw-normal pb-1 small">
            <li class="nav-link"><a th:href="@{/appointment}">view appointments</a></li>
            <li class="nav-link"><a th:href="@{/makeAppointment}">add  appointment</a></li>
          </ul>
        </div>
      </li>
      <li class="sidebar-dropdown">
        <a class="btn-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse1" aria-expanded="true">
          <i class="bi bi-person-circle"></i>
          Veterinarians
          <i class="bi bi-caret-down"></i>
        </a>
        <div class="collapse" id="home-collapse1">
          <ul class="btn-toggle-nav nav-link list-unstyled fw-normal pb-1 small">
            <li class="nav-link"><a th:href="@{/vet}">view veterinarians</a></li>
            <li class="nav-link"><a th:href="@{/specialty}">edit specialty</a></li>
          </ul>
        </div>
      </li>
      <li class="sidebar-dropdown">
        <a class="btn-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse2" aria-expanded="true">
          <i class="bi bi-people-fill"></i>
          Clients
          <i class="bi bi-caret-down"></i>
        </a>
        <div class="collapse" id="home-collapse2">
          <ul class="btn-toggle-nav nav-link list-unstyled fw-normal pb-1 small">
            <li class="nav-link"><a th:href="@{/clients}">view clients</a></li>
            <li class="nav-link"><a th:href="@{/addClient}">add client</a></li>
          </ul>
        </div>
      </li>
      <li class="sidebar-dropdown">
        <a class="btn-toggle nav-link" data-bs-toggle="collapse" data-bs-target="#home-collapse3" aria-expanded="true">
          <i class="bi bi-emoji-smile"></i>
          Pets
          <i class="bi bi-caret-down"></i>
        </a>
        <div class="collapse" id="home-collapse3">
          <ul class="btn-toggle-nav nav-link list-unstyled fw-normal pb-1 small">
            <li class="nav-link"><a th:href="@{/pet}">view pets</a></li>
            <li class="nav-link"><a th:href="@{/pet-type}">view pet type</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a th:href="@{/visit}" class="nav-link link-dark">
          <i class="bi bi-table"></i>
          History of visits
        </a>
      </li>
    </ul>
  </div>
</body>
</html>