<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<div>
    <nav th:replace="navbar :: mynavbar"></nav>
</div>
<div id="viewport">
    <div id="content">
        <!-- sidebar -->
        <div th:replace="sidebar :: mysidebar"></div>
        <!--        content starts here!-->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h1 class="row justify-content-center">Update client</h1>
            </div>
            <form th:action="@{/saveClient}" th:object="${owner}" method="post" class="form-group">
                <!-- Row with name-->
                <div class="row justify-content-center">
                    <h3 class="formtitle row justify-content-center mt-2">Client's information</h3>
                    <div class="col-3 pt-3">
                        <input type="hidden" th:field="*{id}"/>
                        <label th:classappend="${#fields.hasErrors('firstName')} ? 'text-danger' : ''" for="firstName">First name:</label>
                        <input type="text" th:field="*{firstName}" id="firstName" placeholder="Please enter your first name" class="form-control"/>
                    </div>
                    <div class="col-3 mt-3">
                        <label th:classappend="${#fields.hasErrors('lastName')} ? 'text-danger' : ''" for="lastName">Last name:</label>
                        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Please enter your last name" class="form-control"/>
                    </div>
                    <div class="col-3 mt-3">
                        <label th:classappend="${#fields.hasErrors('email')} ? 'text-danger' : ''" for = "email">Email</label>
                        <input type="text" th:field="*{email}" id="email" placeholder="Please enter your email" class="form-control"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 mt-3">
                        <label th:classappend="${#fields.hasErrors('address')} ? 'text-danger' : ''" for="address">Address:</label>
                        <input type="text" th:field="*{address}" id="address" placeholder="Please enter your address" class="form-control"/>
                    </div>
                    <div class="col-4 mt-3">
                        <label th:classappend="${#fields.hasErrors('tel')} ? 'text-danger' : ''" for="tel">Telephone:</label>
                        <input type="text" th:field="*{tel}" id="tel" placeholder="Please enter your telephone number" class="form-control"/>
                    </div>
                    <h3 class="formtitle row justify-content-center mt-3">Pet's information</h3>
                    <!--<div th:object="${petList}">-->
                    <!--To access a list with status variable-->
                    <div th:each="pet, itemStat : *{pet}" th:classappend="${itemStat.size} == 1 ? 'col-6 mt-3' : 'col-5 mt-3'">
                        <div>
                            <input type="hidden" th:field="*{pet[__${itemStat.index}__].id}"/>
                            <label th:classappend="${#fields.hasErrors('pet[__${itemStat.index}__].petName')} ? 'text-danger' : ''" for="petname">Name:</label>
                            <input type="text" th:field="*{pet[__${itemStat.index}__].petName}" id="petname" placeholder="Please enter the pet's name" class="form-control"/>
                        </div>
                        <div>
                            <label th:classappend="${#fields.hasErrors('pet[__${itemStat.index}__].dob')} ? 'text-danger' : ''" for="dob">Date of birth:</label>
                            <input type="date" th:field="*{pet[__${itemStat.index}__].dob}" id="dob" class="form-control"/>
                        </div>
                        <div>
                            <label>Type:</label>
                            <select th:field="*{pet[__${itemStat.index}__].petType}" class="form-control">
                                <option th:each="type : ${petNames}" th:value="${type.getId()}" th:text="${type.getPetTypeName()}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group mt-4">
                        <ul>
                            <h5 class="text-danger" th:if="${#fields.hasErrors('*')}">Please enter the correct information:</h5>
                            <li th:each="err:${#fields.errors('*')}" th:text="${err}" class="text-danger"></li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary col-2">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="footer :: foot"></div>
</body>
</html>